services:
  postgres:
    image: postgres:16
    container_name: fintrack_postgres
    restart: always
    ports:
      - "5432:5432"
    env_file:
      - ./.env.docker
    volumes:
      - postgres_data:/var/lib/postgresql/data
      - ./server/src/schema.sql:/docker-entrypoint-initdb.d/01-schema.sql
      - ./server/src/seed.sql:/docker-entrypoint-initdb.d/02-seed.sql
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -U $${POSTGRES_USER} -d $${POSTGRES_DB}"]
      interval: 5s
      timeout: 5s
      retries: 10

volumes:
  postgres_data: